.chalk-header h1 {
	display: flex;
	width: 100%;
	align-items: center;
    font-family: "Chalkduster" !important;
    font-size: 50px !important;
    padding-bottom: 30px !important;
}
.chalk-header h1:after{
	content: '';
	background-image: linear-gradient(90deg, var(--text-accent), var(--background-primary));
	height: 1px;
	margin: .5em;
	flex: 1;
}
.chalk-header h1:before{
	content: '';
	background-image: linear-gradient(270deg, var(--text-accent), var(--background-primary));
	height: 1px;
	margin: .5em;
	flex: 1;
}